# Michigan Consumer Confidence

- Michigan Consumer Confidence | .csv files | [Michigan](https://data.sca.isr.umich.edu/tables.php)

In [7]:
import requests
import os
import pandas as pd

# path for the folder "project"
path = "C:\\Users\\pedro\\OneDrive\\NYU\\CSS\\II. Data Skills\\project"
os.chdir(path)

**Downloading file**

Go to this [link](https://data.sca.isr.umich.edu/data-archive/mine.php), select 1978 as the start year and download the "All tables CSV file", and save in the data folder with the name `raw_michigan`

In [8]:
# importing data:
michigan = pd.read_csv("data\\consumer_confidence\\raw_michigan.csv", skiprows=1)
michigan.tail()

,Month,yyyy,ics_all,ics_inc31,ics_inc32,ics_inc33,ics_a1834,ics_a3554,ics_a5597,ics_ne,...,hompx5_s_all,hompx5_u_all,hompx5_dk_all,hompx5_mean_all,hompx5_md_all,hompx5_var_all,hompx5_p25_all,hompx5_p75_all,hompx5_r50_all,Unnamed: 359
533,6,2022,50.0,52.7,48.7,48.8,63.9,46.6,45.8,55.8,...,24.0,18.0,3.0,2.0,2.1,50.0,-0.2,5.0,5.2,NaN
534,7,2022,51.5,46.5,51.6,56.0,55.8,54.0,47.4,52.5,...,28.0,17.0,2.0,2.1,1.7,53.0,-0.2,5.0,5.2,NaN
535,8,2022,58.2,61.3,57.2,59.6,64.3,60.3,53.9,55.3,...,27.0,12.0,3.0,2.5,2.3,37.0,-0.1,4.9,5.0,NaN
536,9,2022,58.6,57.6,60.2,58.8,64.4,58.7,55.9,66.0,...,28.0,19.0,3.0,2.1,1.1,49.0,-0.3,4.7,5.0,NaN
537,10,2022,59.9,64.7,57.4,58.2,68.2,60.0,55.4,64.4,...,26.0,14.0,2.0,2.6,2.2,41.0,-0.1,5.0,5.1,NaN

In [9]:
# date column:
michigan["date"] = pd.to_datetime(michigan["yyyy"].astype(str) + "-" + michigan["Month"].astype(str) + "-01")
michigan = michigan.drop(columns = ["Month", "yyyy"])

In [10]:
# melt
michigan = michigan.melt(id_vars="date", var_name="series_id")
michigan = michigan[["series_id","date","value"]].dropna()
michigan.head()

  series_id       date  value
0   ics_all 1978-01-01   83.7
1   ics_all 1978-02-01   84.3
2   ics_all 1978-03-01   78.8
3   ics_all 1978-04-01   81.6
4   ics_all 1978-05-01   82.9

Saving File:

In [11]:
michigan.to_parquet("data\\consumer_confidence\\data_michigan_consumer_confidence.parquet")

**Dictionary**

This survey has many variables. The complete data dictionary is [here](https://data.sca.isr.umich.edu/fetchdoc.php?docid=45121). It is also in the data folder.